:root
{
    /* Tamaño */
    --navH:70px;
    --footerH:70px;
    --minContainerH:250px;
    --buttonRadius:15px;

    /* Tema base (Claro)*/
    --colorBg1:#EBFFFA;
    --colorBg1Alt:#D9F9F4;
    --colorBg2:#9CD9DE;
    --colorBg2Alt:#86C1D4;
    --colorDet:#005792;
    --colorDetAlt:#0779E4;
    --colorDetExtra:#005792;
    --colorDisabled:#4E6E81;
    --colorForm:white;
    --colorFooter:#C9EEFF;
    --colorText1:#456268;
    --colorText2:#79A3B1;
    --colorText3:#01A9B4;
    --colorText4:#D0E8F2;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    transition: border, color, background-color .45s ease-in-out;
}

html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}


/* Modo oscuro */
body.dark
{
    --colorBg1:#2C3333;
    --colorBg1Alt:#2E4F4F;
    --colorBg2:#476D7C;
    --colorBg2Alt:rgb(85, 106, 124);
    --colorDet:#3adcf8;
    --colorDetAlt:#00ffff;
    --colorDetExtra:#061a33;
    --colorDisabled:#7da7c0;
    --colorForm:rgb(206, 220, 233);
    --colorFooter:#5a6d75;
    --colorText1:#A3C7D6;
    --colorText2:#79A3B1;
    --colorText3:#01A9B4;
    --colorText4:#4a5053;
}


/* Nav */
nav
{
    width: 100%;
    height: var(--navH);
    
    display: flex;
    justify-content: space-between;
    position: fixed;

    background: var(--colorBg1);
    z-index: 5;
}

.nav__link
{
    color: var(--colorDet);
    font-size: 1.2rem;
}

.nav__link:hover
{
    color: var(--colorText3);
}

.logo
{
    font-size: 1.2rem;
    color: var(--colorDet);
    align-self: center;
    padding: 0 15px;
}

.nav__list
    {
        position: fixed;
        top: var(--navH);
        bottom:0;
        right: 0;
        left: 40%;
        transition: transform 0.3s;
        pointer-events: none;
        list-style: none;
        background: var(--colorBg1Alt);
        transform: translateX(100%);
    }

    .nav__list.active
    {
        pointer-events: initial;
        transform: translateX(0);
    }

    .nav__list li
    {
        width: auto;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .nav__link
    {
        text-decoration: none;
    }

    .mode
    {
        width: 60%;
        height: 40px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        border-radius: 15px;
    }

    .mode 
    {
        font-size: 1.4rem;
    }

    .mode i 
    {
        font-size: 2rem;
        pointer-events: none;
    }

    .bx-moon
    {
        color: var(--colorText4);
    }

    .bx-sun
    {
        color: yellow;
    }

    .icon-down
    {
        margin-top: 65px;
    }

    .icon-up
    {
        margin-top: unset;
    }

    .dark
    {
        background-color: #060047;
    }

    .light
    {
        background-color: deepskyblue;
    }

#menu-icon
{
    font-size: 3rem;
    align-self: center;
    color: var(--colorDet);
}

.nav-mobile
{
    display: none;
    list-style: none;
    position: fixed;
    height: calc(100% - var(--navH));
    top: var(--navH);
    right: 0;
    background: gray;
    transition: left 600ms ease;
}

.nav-mobile.active
{
    display: flex;
    flex-direction: column;
    left: 0;
}

.nav-mobile li
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li .nav-mobile-link
{
    text-decoration: none;
    font-size: 2rem;
}


/* Contenedores */
main
{
    background: var(--colorBg1Alt);
    display: flex;
    flex-direction: column;
}

.container
{
    min-height: var(--minContainerH);
    padding: 15px 25px;
    background: var(--colorBg1Alt);

    display: flex;
    flex-direction: column;
    align-items: center;
} 


/* Division de Hero */
.hero
{
    background: var(--colorBg1);
    
    width: 100%;
    height: calc(100vh + 5rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__text
{
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.hero__text span
{
    font-size: 1.8rem;
    color: var(--colorText1);
}

.hero__text h1
{
    font-size: 4rem;
    color: var(--colorDetAlt);
}

.hero__text p
{
    font-size: 1.2rem;
    margin: 15px 0 5px 0;
    color: var(--colorText2);
}

.btn
{
    padding: 15px 25px;
    font-size: 24px;
    border-radius: var(--buttonRadius);
}

.btn-azul
{
    background: var(--colorDet);
    border: 2px solid var(--colorDet);
    color: var(--colorText4);
    margin-top: 20px;

    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btn-azul:hover
{
    border: 2px solid var(--colorDet);
    color: var(--colorDet);
    background: transparent;
}

.btn-azulAlt
{
    color: var(--colorDet);
    background: transparent;
}

.btn-azulAlt:hover
{
    background: var(--colorDet);
    color: var(--colorText4);
}


/* Division Acerca */
.about
{
    display: flex;
    flex-direction: column;

    background: var(--colorDetExtra);
}

.about__content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-resume
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--colorBg2);
    font-size: 20px;
    padding: 15px;
    margin-top: -50px;
    border-radius: 15px;
}

.card-resume p
{
    margin-top: 5px;
}

.title
{
    position: relative;
    font-size: 1.4rem;
    color: var(--colorDet);
}

.title::before
{
    content:"";
    position: absolute;
    background: var(--colorDetAlt);
    width: 100%;
    height: 2px;
    bottom: 0;
}

/* Formacion e intereses */
.formation-list, .interest
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtitle
{
    align-self: flex-start;
    margin-top: 15px;
    color: var(--colorDetAlt);
}

.formation
{
    position: relative;
    margin: 5px 0;
}

.formation::before
{
    content:'';
    position: absolute;
    background: var(--colorDet);
    width: 5px;
    height: 100%;
    left: 10px;
    left: 5px;
}

.formation__title
{
    margin-left: 15px;
    color: var(--colorText3);
}

.formation__place
{
    margin-left: 20px;
    font-size: 18px;
    color:#2C3333;
}

.formation__period
{
    margin-left: 20px;
    font-size: 16px;
    color: var(--colorText2);
}

.hobby__list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    width: 100%;
}

.hobby
{
    padding: 5px 10px;
}

.hobby i
{
    color: var(--colorDet);
}


.about__aside
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.img
{
    max-width: 280px;
    width: 80%;
    border-radius: 15px;
    margin-bottom: 10px;
    aspect-ratio: 4/5;
}


/* Division de Habilidades */
.skill-list
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 20px;
}

.skill
{
    width: 100px;
    min-width: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__icon
{
    width: 40px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.htmltag
{
    background-image: url(/assets/resource/htmlicon.png);
}

.css
{
    background-image: url(/assets/resource/cssicon.png);
}

.js 
{
    background-image: url(/assets/resource/js.png);
}

.php 
{
    background-image: url(/assets/resource/php.png);
}

.ts 
{
    background-image: url(/assets/resource/typescript.png);
}

.ang
{
    background-image: url(/assets/resource/angular.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.react 
{
    background-image: url(/assets/resource/reacti.png);
}

.git
{
    background-image: url(/assets/resource/git.png); 
}

/* Division de Proyectos */
.projects
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.project
{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--colorBg2);
}

.project .subtitle
{
    margin-left: 15px;
    margin-bottom: 5px;
}
.project .project__desc
{
    margin-left: 15px;
    margin-bottom: 5px;
}

.project__ss
{
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    position: relative;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.working
{
    background-image: url(/assets/resource/working.png);
    background-color: var(--colorBg2Alt);
}

.p1
{
    background-image: url(/assets/resource/p1.jpg);
}

.project__details
{
    background-color: var(--colorBg2);
}

.project__actions
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.btn-sitio, .btn-repo
{
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

.btn-sitio
{
    background-color: var(--colorDet);
    color: var(--colorText4);
    border: 1px solid var(--colorDet);
}

.btn-sitio:hover.btn-sitio:not(:disabled)
{
    background-color: transparent;
    color: var(--colorDet);
}

.btn-sitio[disabled]
{
    background-color: var(--colorDisabled);
    border: 1px solid var(--colorDisabled);
}

.btn-repo
{
    background-color: transparent;
    color: var(--colorDet);
    border: 1px solid var(--colorDet);
}

.btn-repo:hover.btn-repo:not(:disabled)
{
    background-color: var(--colorDet);
    color: var(--colorText4);
}

.btn-repo[disabled]
{
    color: var(--colorDisabled);
    border: 1px solid var(--colorDisabled);
}

/* Division de Contactos */
.contact
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--colorBg1Alt);
}

.contact-list
{
    margin-top: 20px;
}

.contact-item
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-list .contact-item i
{
    font-size: 1.8rem;
    margin-right: 5px;
    border-radius: 50%;
    background: var(--colorDet);
    color: var(--colorBg1);
}

.contact-list .contact-item a
{
    text-decoration: none;
}

.contact-list .contact-item p, .contact-list .contact-item a
{
    color: var(--colorText1);
    
}


/* Formulario */
.formulary
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title
{
    width: 100%;
    margin-bottom: 15px;
}

.form
{
    margin-top: 20px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control
{
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--colorForm);
}

.form-control:focus
{
    outline: none;
}

input, textarea
{
    font-size: 1.1rem;
}

textarea
{
    resize: none;
}

.btn-submit
{
    border-radius: unset;
    cursor: pointer;
    font-size: 20px;
    background: var(--colorDet);
    color: var(--colorText4);
    border: 1px solid var(--colorDet);
    margin-top: 3px;
    margin-bottom: 40px;
}

.btn-submit:hover
{
    background: transparent;
    color: var(--colorDet);
}


/* Footer */
footer
{
    height: var(--footerH);
    background: var(--colorFooter);

    display: flex;
    justify-content: space-around;
}

footer span, .social-media, .action
{
    width: 30%;
    max-width: 300px;
}

footer span, .social-media, .action
{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span
{
    color: var(--colorDet);
}

.action
{
    justify-content: flex-end;
}

.social-media a i
{
    font-size: 1.8rem;
    color: var(--colorDet);
}

.bxl-github:hover
{
    color: darkslategrey;
}

.bxl-linkedin:hover
{
    color: #0779E4;
}

.btn-small
{
    padding: 5px;
    height: 60%;

    border: 1px solid var(--colorDet);
    background: var(--colorDet);
    color: var(--colorText4);
}

.btn-small:hover
{
    background: var(--colorDetAlt);
    border: 1px solid var(--colorDetAlt);
}


/* Succes page */
.success
{
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--colorBg2Alt);
}

.success .title
{
    font-size: 2rem;
}

.success p{
    margin-top: 10px;
    font-size: 1.4rem;
}


@media screen and (min-width:768px) {
    /* Nav */
    nav
    {
        justify-content: space-around;
    }

    .nav__list 
    {
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;

        pointer-events: initial;

        position: initial;

        display: flex;
        flex-direction: row;

        transform: translateX(0);
        background: transparent;
    }

    .nav__link
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .mode
    {
        margin-left: 10px;
        width: 80px;
    }

    #menu-icon
    {
        display: none;
    }


    /* Division de Hero */
    .hero
    {
        flex-direction: row;
    }

    .hero__text
    {
        width: 45%;
    }

    .btn-azul
    {
        max-width: 350px;
    }

    .hero__img
    {
        /* Espacio asignado para ilustracion */
        width: 45%;
        aspect-ratio: 4/3;
        background-image: url(/assets/resource/deco.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    /* Division de Acerca */
    .about
    {
        align-items: center;
    } 

    .card-resume
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }


    /* Division de Habilidades */
    .skill-list
    {
        width: 80%;
    }


    /* Division de Proyectos */
    .project
    {
        width: 80%;
    }

    .project .subtitle
    {
        font-size: 1.6rem;
    }

    .project__desc
    {
        font-size: 1.4rem;
    }


    /* Division de Contactos */
    .contact-section
    {
        width: 100%;
    }

    .contact-list
    {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-item
    {
        margin-left: 40%;
    }

    .form
    {
        width: 70%;
        align-items: flex-start;
    }

    .form-row
    {
        width: 100%;
    }


    /* Success page */
    .success .title
    {
        font-size: 3rem;
    }

    .success p{
        font-size: 2rem;
    }
}

@media screen and (min-width:1024px) {
    /* Division de Acerca */
    .resume
    {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-bottom: 15px;
    }

    .card-resume
    {
        width: 55%;
    }

    .about__aside
    {
        width: 45%;
        justify-content: flex-end;
    }

    .img
    {
        max-width: 450px;
    }

    .hobby__list
    {
        justify-content: space-around;
    }


    /* Division de Proyectos */
    .project
    {
        margin: 30px 0;
    }
    .project-list
    {
        align-items: center;
    }

    .project
    {
        flex-direction: row;
    }

    .project__details
    {
        width: 32vw;
        height: 20vw;
    }

    .project__ss
    {
        max-width: 55%;
        margin-top: -1px;
    }

    .project__details
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 45%;
        min-height: 100%;
    }

    .project .subtitle
    {
        font-size: 1.2rem;
    }

    .project__desc
    {
        font-size: 1rem;
        align-self: flex-start;
    }

    .project__actions
    {
        margin-bottom: unset;
    }

    .btn-sitio, .btn-repo
    {
        align-self: flex-end;
    }


    /* Division de Contactos */
    .contact-section
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact-list
    {
        width: 30%;
        margin-top: unset;
        margin-left: -25px;
        justify-content: center;
    }

    .contact-item
    {
        margin-left: unset;
        margin-left: 20px;
        margin-bottom: 15%;
    }

    .contact-item i
    {
        background: white;
        padding: 10px;
    }

    .formulary
    {
        margin-left: 2%;
        width: 60%;
    }

    .form
    {
        width: 100%;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .form-row
    {
        width: 100%;
        display: flex;
    }

    .last
    {
        margin-left: 10px;
    }

    .form-medium
    {
        width: 49.5%;

    }

    .btn-submit
    {
        margin-bottom: initial;
    }


    /* Footer */
    .action
    {
        justify-content: center;
    }
}

@media screen and (min-width:1280px) {
    /* Nav */
    .mode
    {
        width: 100px;
    }

    /* Division de Acerca */
    .card-resume
    {
        width: 70%;
    }

    .hobby__list
    {
        flex-direction: column;
    }
    
    .about__aside
    {
        display: flex;
        justify-content: center;
    }

    .img
    {
        width: unset;
        max-width: 400px;
    }
    
    /* Division de Proyectos */
    .projects
    {
        padding: 0 25px 15px 25px;
        margin-top: -20px;
    }

    .project__details .subtitle
    {
        font-size: 1.9rem;
    }

    .project__desc
    {
        font-size: 1.3rem;
    }

    .btn-sitio, .btn-repo
    {
        font-size: 1.6rem;
        padding: 15px 20px;
    }


    /* Division de Habilidades */
    .skills 
    {
        padding: 15px 25px 0 15px;
    }

    .skill__icon
    {
        width: 70px;
    }


    /* Division de Contactos */
    .contact-card
    {
        font-size: 1.6rem;
        margin-top: 100px;
    }
}

@media screen and (min-width:1900px) {
    /* Division de Nav */
    .logo, .nav__link
    {
        font-size: 1.6rem;
    }


    /* Division de Hero */
    .hero__text span
    {
        font-size: 2.5rem;
    }

    .hero__text h1
    {
        font-size: 8rem;
    }

    .hero__text p
    {
        font-size: 1.6rem;
    }

    .btn-azul
    {
        font-size: 2.2rem;
    }


    /* Division Acerca */
    .card-resume
    {
        justify-content: space-evenly;
    }

    .title
    {
        font-size: 2.5rem;
    }

    .card-resume p
    {
        font-size: 1.8rem;
    }

    .formation-list .subtitle, .interest .subtitle
    {
        font-size: 2.3rem;
    }

    .formation .formation__title
    {
        font-size: 2rem;
    }

    .formation__place
    {
        font-size: 1.6rem;
    }

    .formation .formation__period
    {
        font-size: 1.4rem;
    }

    .hobby
    {
        font-size: 1.7rem;
    }

    .img
    {
        max-width: 550px;
    }


    /* Division de Habilidades */
    .skill
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    .skill__name
    {
        font-size: 1.3rem;
    }

    .skill__icon
    {
        width: 100px;
    }


    /* Division de Proyectos */
    .project .project__details .subtitle
    {
        font-size: 2.5rem;
    }

    .project .project__details .project__desc
    {
        font-size: 1.8rem;
    }

    .btn-sitio, .btn-repo
    {
        font-size: 2.2rem;
    }


    /* Division de Contactos */
    .formulary
    {
        margin-left: unset;
    }
    
    .contact-list
    {
        margin: 0 90px 0 0;
        width: 20%;
    }

    .contact-list .contact-item i 
    {
        font-size: 3rem;
    }

    .contact-item a, .contact-item p 
    {
        font-size: 1.5rem;
    }


    /* Division de Footer */
    footer
    {
        font-size: 1.4rem;
    }

    .social-media a i
    {
        font-size: 2.5rem;
    }

    .action a i 
    {
        font-size: 2rem;
    }
}
